.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
    text-align: center;
  }
  
  .h2title {
    margin-bottom: 1rem;
    color: var(--primary-color);
  }
  
  .slider {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    padding:20px 0;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slider > * {
    flex: 0 0 auto;
    width: 80vw;
    scroll-snap-align: start;
    margin-right: 1rem;
  }
  
  @media (max-width: 1024px) {
    .slider {
      flex-wrap: nowrap;
      padding: 20px 0;
    }
  
    .slider > * {
      width: 80vw;
    }
  }
  
  @media (max-width: 320px) {
    .container {
      padding: 1rem 0;
    }
  
    .slider > * {
      width: 85vw;
    }
  }
  
  @media (min-width: 1024px) {
    .slider {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 2rem;
      justify-items: center;
      margin-top: 1.5rem;
      padding: 20px 2rem; 
    }
  
    .slider > * {
      width: auto; 
      margin-right: 0;
    }
  }
  