---
import { services } from "../../utils/const/services";
import ServiceCard from "./comps/ServiceCard.astro";
import "./serviceContainer.styles.css";

const { title } = Astro.props;
---

<section class="container">
    <h2 class="h2title">{title}</h2>
    <div class="slider">
        {
            services.map((service) => (
                <ServiceCard key={service.title} {...service} />
            ))
        }
    </div>
</section>
